@{
    Layout = "";
    var SuccessText = TempData["Success"] as string;
}
<!DOCTPYE html>
    <html lang="EN-nz">
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <title>
            SMS Mock - Forgot Password
        </title>
        <link rel="stylesheet" href="~/css/login.css" />
    </head>
    <body>
        <div class="login-page">
            <!--Displays form to send password reset to email-->
            @if (string.IsNullOrEmpty(SuccessText))
            {
                <div class="form">
                    <form class="forgot-form">
                        <input type="text" name="Email" placeholder="Username" /><br /><br />
                        Select User Type<select name="usertype">
                            <option value="Student">Student</option>
                            <option value="Teacher">Teacher</option>
                            <option value="Admin">Admin</option>
                        </select>
                        <input type="submit" asp-action="ResetPassword" value="SEND EMAIL" />
                    </form>
                </div>
            }
            <!--Display Login Success-->
            @if(!string.IsNullOrEmpty(SuccessText))
            {
                <div class="form">
                    <form class="forgot-form">
                        <h2>@SuccessText</h2>
                    </form>
                </div>
            }
        </div>
    </body>
</html>
