@{
    Layout = "";
    ViewData["Title"] = "Login";
    var returnUrl = ViewData["ReturnUrl"] as string;
    var error = TempData["Error"] as string;
    var passchange = TempData["PassChange"] as string;
}
<!DOCTPYE html>
    <html lang="EN-nz">
        <head>
            <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1.0" name="viewport">
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
            <title>
                SMS Mock - Log In
            </title>

            <!-- Vendor CSS Files -->
            <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

            <!-- Vendor CSS Files -->
            <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
            <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
            <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
            <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

            <link rel="stylesheet" href="~/css/login.css" />
            <link href="~/css/header-footer.css" rel="stylesheet">
        </head>
    <body>
        <!-- ======= Header ======= -->
        <header id="header" class="header fixed-top d-flex align-items-center">
            <div class="container d-flex align-items-center justify-content-between">

                <div id="logo">
                    <h1><a href="index.html"><img src="~/assets/img/WhippedLogo.png" height="65" width="65"></a></h1>
                </div>

                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a class="nav-link" href="/Home/">Home</a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->

            </div>
        </header><!-- End Header -->
        <div class="login-page">
            @if (!string.IsNullOrEmpty(error))
            {
                <h2 class="alert-danger">@error</h2>
            }
            @if (string.IsNullOrEmpty(error))
            {
                <h2 class="alert-danger" style="opacity: 0;"></h2>
            }
            @if (!string.IsNullOrEmpty(passchange))
            {
                <h2 style="text-align: center;">@passchange</h2>
            }
            <div class="form">
                <form class="login-form" action="/login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
                    <input type="text" name="username" placeholder="Username" /><br /><br />
                    <input type="password" name="password" placeholder="Password" /><br /><br />
                    Select User Type<select name="usertype">
                        <option value="student">Student</option>
                        <option value="teacher">Teacher</option>
                        <option value="admin">Admin</option>
                    </select>
                    <input type="submit" value="LOGIN" />
                    <p class="message"><a asp-action="ForgotPassword">Forgot Password?</a></p>
                </form>
            </div>
        </div>
        <script src="~/assets/js/main-secured.js"></script>
    </body>
</html>
