@using System.Security.Claims;

@{
    ClaimsPrincipal current = this.User;
}
<!DOCTYPE html>
<html lang="en-nz">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Whipped Management Systems - Index</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="~/assets/img/WhippedLogo.png" rel="Logo">
        <link href="~/assets/img/WhippedLogo.png" rel="Logo">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
        <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="~/assets/css/style.css" rel="stylesheet">

        <!-- =======================================================
        * Template Name: eStartup - v4.2.0
        * Template URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
    </head>
    <body>
        @RenderBody()
        <!-- ======= Header ======= -->
        <header id="header" class="header fixed-top d-flex align-items-center">
            <div class="container d-flex align-items-center justify-content-between">

                <div id="logo">
                    <h1><a href="/"><img src="~/assets/img/WhippedLogo.png" height="65" width="65"></a></h1>
                    <!-- <h1><a href="index.html"><span>Whipped</span>MS</a></h1> -->
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
                </div>

                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                        <li><a class="nav-link scrollto" href="#about-us">About</a></li>
                        <li><a class="nav-link scrollto" href="#features">Features</a></li>
                        <li><a class="nav-link scrollto" href="#screenshots">Screenshots</a></li>
                        <li><a class="nav-link scrollto" href="#team">Schools</a></li>
                        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li><a class="nav-link" style="margin-left: 20px;border-radius:20px;background-color: lightblue; padding-right:30px;" asp-area="" asp-controller="Home" asp-action="Secured">Login</a></li>
                        }
                        @if (User.Identity.IsAuthenticated && current.IsInRole("Admin"))
                        {
                            <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Secured">Admin Page</a></li>
                        }
                        @if (User.Identity.IsAuthenticated && current.IsInRole("Teacher"))
                        {
                            <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Teacher">Teacher Page</a></li>
                        }
                        @if (User.Identity.IsAuthenticated && current.IsInRole("Student"))
                        {
                            <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Student">Student Page</a></li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a></li>
                        }
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->

            </div>
        </header><!-- End Header -->
        <!-- ======= Hero Section ======= -->
        <section id="hero">
            <div class="hero-container" data-aos="fade-in">
                <br><br><br>
                <h1>Welcome Whipped Management Systems</h1>
                <h2>Elegant Student Management Systems | "When they're Bad, make them Sad!"</h2>
                <img src="~/assets/img/hero-img.png" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
                <a href="#get-started" class="btn-get-started scrollto">Get Started</a>
            </div>
        </section><!-- End Hero Section -->

        <main id="main">

            <!-- ======= Get Started Section ======= -->
            <section id="get-started" class="padd-section text-center">
                <br><br><br>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                            <div class="feature-block">

                                <img src="~/assets/img/svg/cloud.svg" alt="img">
                                <h4>introducing whipped</h4>
                                <p>A modern way of tracking students learning, Behaviors and much more!</p>

                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                            <div class="feature-block">

                                <img src="~/assets/img/svg/planet.svg" alt="img">
                                <h4>user friendly interface</h4>
                                <p>Whipped Management Systems insures you that our software is a modern, easy to use software!</p>

                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                            <div class="feature-block">

                                <img src="~/assets/img/svg/asteroid.svg" alt="img">
                                <h4>Management System everyone loves!</h4>
                                <p>Whipped Management System is used by many schools out there and is one of the leading Softwares used by schools!</p>

                            </div>
                        </div>
                    </div>
                </div>

            </section><!-- End Get Started Section -->
            <!-- ======= About Us Section ======= -->
            <section id="about-us" class="about-us padd-section">
                <div class="container" data-aos="fade-up">
                    <div class="row justify-content-center">
                        <div class="col-md-5 col-lg-3">
                            <img src="~/assets/img/WhippedLogo.png" alt="About" data-aos="zoom-in" data-aos-delay="100">
                        </div>

                        <div class="col-md-7 col-lg-5">
                            <div class="about-content" data-aos="fade-left" data-aos-delay="100">

                                <h2><span>Whipped</span>Student Management Systems </h2>
                                <p>
                                    Started in 2021, Whipped Management Systems has rocketed to being one of the top most used Management Systems used by schools. With the numbers continously growing we can assure you that our product is quality.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End About Us Section -->
            <!-- ======= Features Section ======= -->
            <section id="features" class="padd-section text-center">
                <div class="container" data-aos="fade-up">
                    <div class="section-title text-center">
                        <h2>Amazing Features.</h2>
                    </div>

                    <div class="row" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-md-6 col-lg-3">
                            <div class="feature-block">
                                <img src="~/assets/img/svg/paint-palette.svg" alt="img">
                                <h4>unique design</h4>
                                <p>We have designed our software to be easily recognisable while being minimalistic and sleek</p>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3">
                            <div class="feature-block">
                                <img src="~/assets/img/svg/vector.svg" alt="img">
                                <h4>Fast and Efficient</h4>
                                <p>Our software has been made to make the teachers job faster and more effecient for less stress in their busy day</p>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3">
                            <div class="feature-block">
                                <img src="~/assets/img/svg/design-tool.svg" alt="img">
                                <h4>easy to use</h4>
                                <p>Not only is our software feature packed, we have made it so easy to use that anyone can use it</p>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3">
                            <div class="feature-block">
                                <img src="~/assets/img/svg/asteroid.svg" alt="img">
                                <h4>Tripple A's</h4>
                                <p>We include a grading system called "The Tripple A's" which records Attendance, Attitude and Achievment</p>
                            </div>
                        </div>

                    </div>
                </div>
            </section><!-- End Features Section -->
            <!-- ======= Screenshots Section ======= -->
            <section id="screenshots" class="padd-section text-center">

                <div class="container" data-aos="fade-up">
                    <div class="section-title text-center">
                        <h2>Our System</h2>
                        <p class="separator">Dive into the Design of our Student Management System</p>
                    </div>

                    <div class="screens-slider swiper-container">
                        <div class="swiper-wrapper align-items-center">
                            <div class="swiper-slide"><img src="~/assets/img/screen/1.jpg" class="img-fluid" alt=""></div>
                            <div class="swiper-slide"><img src="~/assets/img/screen/2.jpg" class="img-fluid" alt=""></div>
                            <div class="swiper-slide"><img src="~/assets/img/screen/3.jpg" class="img-fluid" alt=""></div>
                            <div class="swiper-slide"><img src="~/assets/img/screen/4.jpg" class="img-fluid" alt=""></div>
                            <div class="swiper-slide"><img src="~/assets/img/screen/5.jpg" class="img-fluid" alt=""></div>
                            <div class="swiper-slide"><img src="~/assets/img/screen/6.jpg" class="img-fluid" alt=""></div>
                            <div class="swiper-slide"><img src="~/assets/img/screen/7.jpg" class="img-fluid" alt=""></div>
                            <div class="swiper-slide"><img src="~/assets/img/screen/8.jpg" class="img-fluid" alt=""></div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

            </section><!-- End Screenshots Section -->
            <!-- ======= Team Section ======= -->
            <section id="team" class="padd-section text-center">

                <div class="container" data-aos="fade-up">
                    <div class="section-title text-center">

                        <h2>Schools We Supply</h2>
                        <p class="separator">Schools currently using our Management System</p>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
                            <div class="team-block bottom">
                                <img src="~/assets/img/team/NewMarketAcademy.png" class="img-responsive" alt="img">
                                <div class="team-content">
                                    <h4>New Market Academy</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="200">
                            <div class="team-block bottom">
                                <img src="~/assets/img/team/GreentreeCollege.png" class="img-responsive" alt="img">
                                <div class="team-content">
                                    <h4>Greentree College</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="300">
                            <div class="team-block bottom">
                                <img src="~/assets/img/team/AlbertonHigh.png" class="img-responsive" alt="img">
                                <div class="team-content">
                                    <h4>Alberton High</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="400">
                            <div class="team-block bottom">
                                <img src="~/assets/img/team/WestlandHigh.png" class="img-responsive" alt="img">
                                <div class="team-content">
                                    <h4>Westland High</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End Team Section -->
            <!-- ======= Contact Section ======= -->
            <section id="contact" class="padd-section">

                <div class="container" data-aos="fade-up">
                    <div class="section-title text-center">
                        <h2>Contact</h2>
                        <p class="separator">Fill out this form, send a text or even phone us to keep in contact for help!</p>
                    </div>

                    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-3 col-md-4">
                            <div class="info">
                                <div>
                                    <i class="bi bi-geo-alt"></i>
                                    <p>Auckland, New Zealand</p>
                                </div>

                                <div class="email">
                                    <i class="bi bi-envelope"></i>
                                    <p>ProjectileProtectionIV@gmail.com</p>
                                </div>

                                <div>
                                    <i class="bi bi-phone"></i>
                                    <p>+64 021 937 2993</p>
                                </div>
                            </div>

                            <div class="social-links">
                                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-8">
                            <div class="form">
                                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                    </div>
                                    <div class="form-group mt-3">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                                    </div>
                                    <div class="form-group mt-3">
                                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                                    </div>
                                    <div class="form-group mt-3">
                                        <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                                    </div>
                                    <div class="my-3">
                                        <div class="loading">Loading</div>
                                        <div class="error-message"></div>
                                        <div class="sent-message">Your message has been sent. Thank you!</div>
                                    </div>
                                    <div class="text-center"><button type="submit">Send Message</button></div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </section><!-- End Contact Section -->
        </main><!-- End #main -->
        <!-- ======= Footer ======= -->
        <footer class="footer">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 col-lg-4">
                        <div class="footer-logo">
                            <a class="navbar-brand" scrollto="#hero" href="#">WhippedMS</a>
                            <p>Started in 2021, Whipped Management Systems has rocketed to being one of the top most used Management Systems used by schools. With the numbers continously growing we can assure you that our product is quality.</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <div class="list-menu">
                            <h4>About Us</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Tripple A's</a></li>
                                <li><a href="#">Our schools</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <div class="list-menu">
                            <h4>Portal</h4>
                            <ul class="list-unstyled">
                                <li><a asp-controller="Home" asp-action="Secured">Login</a></li>
                                <li><a asp-controller="Home" asp-action="ForgotPassword">Forgott Password</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <div class="list-menu">
                            <h4>Contact</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">Text Us</a></li>
                                <li><a href="#">Call Us</a></li>
                                <li><a class="scrollto" href="#contact">Email Us</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <div class="list-menu">
                            <h4>FAQs</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Feautures</a></li>
                                <li><a href="#">Accesability</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </footer><!-- End  Footer -->

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="~/assets/vendor/aos/aos.js"></script>
        <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="~/assets/vendor/php-email-form/validate.js"></script>
        <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>

        <!-- Template Main JS File -->
        <script src="~/assets/js/main.js"></script>
    </body>
</html>