@{
    Layout = "";
}

<!DOCTPYE html>
    <html lang="EN-nz">
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <title>
            SMS Mock - Reset Password
        </title>
        <link rel="stylesheet" href="~/css/login.css" />
        <style>
            .enabled {
                cursor: pointer !important;
                background-color: rgba(76, 175, 80, 1) !important;
            }

            .disabled {
                cursor: default !important;
                background-color: rgba(76, 175, 80, 0.5) !important;
            }
        </style>
    </head>
    <body>
        <div class="login-page">
            <div class="form">
                <form class="forgot-form">
                    <input type="password" id="newpass" onkeyup="CheckMatch()" name="NewPassword" placeholder="Enter New Password" /><br /><br />
                    <input type="password" id="confirmpass" onkeyup="CheckMatch()" name="ConfirmNewPassword" placeholder="Confirm New Password" /><br /><br />
                    <input type="text" name="User" value="@ViewBag.User" hidden readonly />
                    <input type="text" name="ResetCode" value="@ViewBag.ResetCode" hidden readonly />
                    <input type="submit" class="disabled" id="submit" asp-action="ResetUserPassword" value="RESET PASSWORD" disabled />
                </form>
            </div>
        </div>
        <script src="~/js/passwordreset.js"></script>
    </body>
</html>
